.mybutton:hover{
    color: $black;
    background-color: $color-hover!important;
}
.bar-block .bar-item{
    width: 100%;
    display: block;
    padding: 16px 16px;
    text-align: left;
    border:none;
    white-space: normal;
    float: none;
    outline: 0;
}
.my-large{
    font-size: 22px!important;
}
.mybutton{
    border:none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: cursive;
}
.mywhite{
    color: $white;
    background-color: transparent!important;
}
.my-largexx{
    font-size: 30px!important;
}
.mybold{
    font-weight: bold;
}
.myfont1{
    font-size: 32px;
    font-weight: bold;
    color: $white;
    font-family: cursive;
}
.myfont2{
    font-size: 24px;
    font-weight: lighter;
    color: $white;
    font-family: cursive;
}