.animate-Opacity{
    position: relative;
    animation: animateOpacity 0.8s;
}

@keyframes animateOpacity{from{opacity:0} to{opacity:1}}

.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $opacity;
    z-index: 2;
}