.sidebar{
    height: 100%;
    width: 100%;
    background-color: $white;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.animate-left{
    position: relative;
    animation: animateleft 0.8s;
}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar {width: 250px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sidebar {width: 250px;}
  }
